* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--background-color);
}

.distinctive-text {
    color: var(--complementary-color);
}

.regular_btn {
    display: inline-flex;
    align-items: center;
    color: var(--text-color);
    background: var(--regular-btn-background);
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
}

.regular_btn:hover {
    background: var(--complementary-color);
    transform: scale(1.05);
}

.distinctive_btn {
    display: inline-flex;
    align-items: center;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
    background: var(--complementary-color);
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 2px;
}

.distinctive_btn:hover {
    background: var(--text-color);
    color: var(--background-color);
    font-weight: 500;
    letter-spacing: 2px;
    transform: scale(1.05);
}