header {
  /* height: 90px; */
  /* background: var(--backgroud-color); */
}

#navigation-container {
  margin: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#logo-and-theme-container {
  display: flex;
  align-items: flex-end;
}

#logo {
  display: flex;
  align-items: flex-end;
  color: var(--text-color);
  min-height: 90px;
}

#theme-switch {
  display: block;
  min-width: 3rem;
  padding: 0;
  margin-left: 10px;
}

#navigation-menu {
  display: flex;
  align-items: stretch;
  min-height: 45px;
}

#navigation-menu a {
  align-items: flex-end;
  margin: 0 2px;
}

@media only screen and (max-width: 690px) {
  #logo {
    display: none;
  }

  #navigation-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 420px) {

  #navigation-container {
    flex-direction: column;
  }

  #logo {
    display: flex;
    margin: 5px 0;
    text-align: center;
  }

  #navigation-menu {
    flex-direction: column;
  }

  #logo-and-theme-container {
    justify-content: center;
  }
}