header {
  height: 90px;
  /* background: var(--backgroud-color); */
}

.inner-width {
  margin: 0 3rem;
}

.logo {
  float: left;
  padding: 27px 0;
  color: #fff;
}


.navigation-menu {
  float: right;
  display: flex;
  align-items: stretch;
  min-height: 90px;
}

.navigation-menu a {
  align-items: flex-end;
}