main {
    margin: 5rem 3rem;
    display: grid;
    justify-items: space-around;
    align-items: center;
    grid-template: 1fr / 10fr 10fr 1fr;
    grid-template-areas: "info photo breadcrumbs";
    /* width: 100%; */
}

#info-container {
    grid-area: info;
}

#name-and-surname {
    font-size: 4rem;
    line-height: 5rem;
}

#name-and-surname h2 {
    padding: 2.5% 0;
}

#quick-description {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.distinctive-text {
    color: var(--complementary-color);
}

#icon-container {
    margin: 0.5rem 0;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.icon-list {
    color: white;
}

#interaction-buttons-container {
    margin: 2% 0;
    height: 3.5rem;
    display: flex;
    align-items: stretch;
}

#interaction-buttons-container a {
    border-radius: 2rem;
    padding: 0 4rem;
    font-size: 1rem;
}

#portfolio-picture {
    grid-area: photo;
    display: block;
    height: auto;
    max-width: 80%;

}

#breadcrumbs {
    grid-area: breadcrumbs;
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-between;
    text-align: center;
    text-decoration: underline;
}

#breadcrumbs a {
    filter: brightness(60%);
}

#breadcrumbs a:hover {
    filter: none;
}