* {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--background-color);
}


a.regular_btn {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
}

a.regular_btn:hover {
    background: var(--complementary-color);
    color: #fff;
    transform: scale(1.05);
}

a.distinctive_btn {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
    background: var(--complementary-color);
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
}

a.distinctive_btn:hover {
    background: #fff;
    color: var(--backgroud-color);
    font-weight: 500;
    letter-spacing: 2px;
    transform: scale(1.05);
}